.main {
  color: var(--primary);
  height: 260px;
}

.customEmail {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0 0 0;
}

.inputUname, .name {
  padding: 0.6em 0 0.6em 2em;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  background: var(--dim);
  outline: 2px dashed red;
  outline-offset: 3px;
  outline: 2px dashed var(--primary);
}

.spanErr {
  color: red;
  font-size: 0.8rem;
}

.customEmail button {
  padding: 0.3em 0;
  height: 35px;
  display: block;
  border: none;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  background: var(--primary);
  color: var(--text-white);
  font-weight: bolder;
  cursor: pointer;
}

.loadingDiv {
  height: 260px;
  width: 100%;
  position: relative;
}

.btn_opacity_full {
  opacity: 100%;
}

.btn_opacity_20 {
  opacity: 20%;
}
