.main {
  width: 100%;
  max-width: 400px;
}

.px1em {
  padding: 0 1em;
}

.mt3em {
  margin: 3em 0 0 0;
}

.bX1px {
  border: 1px var(--primary);
  border-left-style: solid;
  border-right-style: solid;
}

@media (max-width: 700px) {
  .bX1px {
    border: none;
  }
}
