.svgHold {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.spinner {
  color: var(--dim);
  width: 40px;
  height: 40px;
  animation: spinner 1.5s linear infinite;
}

.spinnerSmall {
  color: var(--dim);
  width: 20px;
  height: 20px;
  animation: spinner 1.5s linear infinite;
}

.white {
  color: var(--text-white);
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
